body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
    background-color: #bbdffc;
    padding: 16px 32px;
}

nav a {
    margin-right: 16px;
}

.testclass {
    background-color: darkred;
}



.mainstyle {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.divcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;

}
.btnPosition{
    display: flex;
}

.custInputWidth {
    width: 200px;
}

.form-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-container label {
    flex-basis: 150px;
    margin-right: 10px;
}

.form-container input {
    flex-grow: 1;
}


.dropzonestyle {
    display: flex;
    background-color: #beb6b6;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 20px;
}
